/* gentium-basic-regular - latin */
@font-face {
  font-family: 'Gentium Basic';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/gentium-basic-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Gentium Basic'), local('GentiumBasic'),
       url('../fonts/gentium-basic-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/gentium-basic-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/gentium-basic-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/gentium-basic-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/gentium-basic-v9-latin-regular.svg#GentiumBasic') format('svg'); /* Legacy iOS */
}
